body {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  color: #774791;
  background-color: black;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/175/266/original/0_0.png?1761564030);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 36px;
}

select {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 2px solid #00000000;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
.container {
  max-width: 600px;
  margin: 200px auto;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0px 0px 74px 15px rgba(254, 250, 216, 0.8);
  padding: 30px;
  margin-bottom: 20px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
}

footer {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
